<section class="stock-list">
  <div class="stock-list__grid">
    <div class="stock-list__grid-row">
      <div class="stock-list__grid-cell stock-list__grid-cell--txt-blue">&#x25BC;</div>
      <div class="stock-list__grid-cell">{{ selectedSymbol }}</div>
      <div class="stock-list__grid-cell">253.4</div>
      <div class="stock-list__grid-cell">
        <a><span class="btn-transaction btn-transaction--buy">buy</span></a>
      </div>
      <div class="stock-list__grid-cell">
        <a><span class="btn-transaction btn-transaction--sell">sell</span></a>
      </div>
      <div class="stock-list__grid-cell">35</div>
    </div>
  </div>
</section>
<section class="stock-graph full-width">
  <div id="stockGraphContainer" class="stock-graph__container"></div>
</section>
<section class="stock-transactions full-width">
  <div class="stock-transactions__grid-row">
    <div class="stock-transactions__grid-cell">
      <span class="stock-transactions__grid-text stock-transactions__grid-text--white">Transaction ID</span>
    </div>
    <div class="stock-transactions__grid-cell">
      <span class="stock-transactions__grid-text stock-transactions__grid-text--white">stock</span>
    </div>
    <div class="stock-transactions__grid-cell">
      <span class="stock-transactions__grid-text stock-transactions__grid-text--white">amount</span>
    </div>
    <div class="stock-transactions__grid-cell">
      <span class="stock-transactions__grid-text stock-transactions__grid-text--white">price</span>
    </div>
    <div class="stock-transactions__grid-cell">
      <span class="stock-transactions__grid-text stock-transactions__grid-text--white">total</span>
    </div>
    <div class="stock-transactions__grid-cell"></div>
  </div>
  <div class="stock-transactions__grid-row">
    <div class="stock-transactions__grid-cell"><span class="stock-transactions__grid-text">tr1</span></div>
    <div class="stock-transactions__grid-cell"><span class="stock-transactions__grid-text">AAPL</span></div>
    <div class="stock-transactions__grid-cell"><span class="stock-transactions__grid-text">1</span></div>
    <div class="stock-transactions__grid-cell"><span class="stock-transactions__grid-text">256</span></div>
    <div class="stock-transactions__grid-cell"><span class="stock-transactions__grid-text">256</span></div>
    <div class="stock-transactions__grid-cell"></div>
  </div>
  <div class="stock-transactions__grid-row">
    <div class="stock-transactions__grid-cell"><span class="stock-transactions__grid-text">tr3</span></div>
    <div class="stock-transactions__grid-cell"><span class="stock-transactions__grid-text">AAPL</span></div>
    <div class="stock-transactions__grid-cell"><span class="stock-transactions__grid-text">10</span></div>
    <div class="stock-transactions__grid-cell"><span class="stock-transactions__grid-text">245</span></div>
    <div class="stock-transactions__grid-cell"><span class="stock-transactions__grid-text">2450</span></div>
    <div class="stock-transactions__grid-cell"></div>
  </div>
  <div class="stock-transactions__grid-row">
    <div class="stock-transactions__grid-cell"><span class="stock-transactions__grid-text">tr6</span></div>
    <div class="stock-transactions__grid-cell"><span class="stock-transactions__grid-text">AAPL</span></div>
    <div class="stock-transactions__grid-cell"><span class="stock-transactions__grid-text">5</span></div>
    <div class="stock-transactions__grid-cell"><span class="stock-transactions__grid-text">230</span></div>
    <div class="stock-transactions__grid-cell"><span class="stock-transactions__grid-text">1150</span></div>
    <div class="stock-transactions__grid-cell"></div>
  </div>
</section>
