<div class="stock-list__grid-row">
  <div class="stock-list__grid-cell stock-list__grid-cell--txt-blue">&#x25BC;</div>
  <div class="stock-list__grid-cell">{{ symbol }}</div>
  <div class="stock-list__grid-cell">253.4</div>
  <div class="stock-list__grid-cell">
    <a><span class="btn-transaction btn-transaction--buy">buy</span></a>
  </div>
  <div class="stock-list__grid-cell">
    <a><span class="btn-transaction btn-transaction--sell">sell</span></a>
  </div>
  <div class="stock-list__grid-cell">35</div>
</div>
